//BACKGROUND CORORS
$background-color: hsl(226, 43%, 10%);
$light-red1: hsl(15, 100%, 70%);
$soft-blue: hsl(195, 74%, 62%);
$light-red2: hsl(348, 100%, 68%);
$lime-green: hsl(145, 58%, 55%);
$violet: hsl(264, 64%, 52%);
$soft-orange: hsl(43, 84%, 65%);

$blue:#5747EA;
$orange: #D96C47;
$sea-green: #55C2E6;
$purple: #7335D2;
$yellow: #F1C75B;
$dark-blue: hsl(235, 46%, 20%);
$light-blue: #33397A;

//OTHER COLORS
$white: #fff;
$gray: #7078C9;

//OTHER
$border-radius: 15px;
$border-radius-body: 13px;
$mobile-brakepoint: 375px;